<ion-card color="medium">
 
  <ion-card-content>

    <ion-grid>
      <ion-row>
        <ion-col size-sm="3" size="12">
          <app-team-card [teamMember]="member" ></app-team-card>
        </ion-col>

        <ion-col size-sm="3" size="12">
            <app-team-card [teamMember]="member"></app-team-card>
        </ion-col>

        <ion-col size-sm="3" size="12">
            <app-team-card [teamMember]="member"></app-team-card>
        </ion-col>

        <ion-col size-sm="3" size="12">
            <app-team-card [teamMember]="member"></app-team-card>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card-content>
</ion-card>