ion-card {
    background: white;
    height: 100%;
}
.dollar {
    font-size: 60px
}

.text {
    font-size: 20px;
    margin-top: 5%;
    color: black;
}

ion-grid {

    margin-bottom: 10%;
}
.bulb {
    font-size: 150px;
    color: white;
    text-align: center;
}
.goer-icon {
    font-size: 30px;
}
