<div class="footer">
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <h2>Contact Us</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center size-sm="3" size="12">
        <ion-icon class="big-icon" name="business"></ion-icon>
        <p>3400 Dodson Branch rd. Apt. D2 Cookeville, Tennessee</p>
      </ion-col>

      <ion-col text-center size-sm="3" size="12">
        <ion-icon class="big-icon" name="mail"></ion-icon>
        <p>admin@etechh.com</p>
      </ion-col>

      <ion-col text-center size-sm="3" size="12">
        <ion-icon class="big-icon" name="call"></ion-icon>
        <p>931-349-1279</p>
      </ion-col>

      <ion-col text-center size-sm="3" size="12">
        <ion-icon class="big-icon" name="globe"></ion-icon>
        <p> <a style="color: white" href="https://www.etechh.com">etechh.com</a></p>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>