
.container {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1px 1px;
    grid-template-areas: "." ".";
    align-items: center;
    justify-items: center
}

.item1 {
    text-align: center;
}


.text {
    font-size: 20px;
    margin-top: 5%;
    color: black;
}

.map {

 max-height: 300px;
}


ion-grid {
    height: 100%;
}
.bulb {
    font-size: 150px;
    color: white;
    text-align: center;
}


@media(min-width: 576px) {
    .map {

        max-height: 500px;
       }
}

@media(min-width: 768px) {
  
}


@media(min-width: 992px) {

    

    .container {
        display: grid;
        height: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 1px 1px;
        grid-template-areas: ". .";
    }
}


@media(min-width: 1200px) {
   
}