ion-card {
    background: white;
    height: 100%;
}

ion-col {
 
}
.dollar {
    font-size: 60px
}

.text {
    font-size: 20px;
    margin-top: 5%;
    color: black;
}

.main-row {
    height: 100%;
}

.map {
    // background-image: url(../../../../../assets/imgs/map_phone.png);
    // background-repeat: no-repeat;
    // background-size: cover;
    // position: relative;
    // background-position: center;
}


ion-grid {
    height: 100%;
}
.bulb {
    font-size: 150px;
    color: white;
    text-align: center;
}
.goer-icon {
    font-size: 30px;
}
