
<ion-grid>
    <ion-row>
  
      <ion-col justify-content-center text-center>
        <ion-icon color="primary" name="bulb" class="bulb">
  
        </ion-icon>
      </ion-col>
  
  
    </ion-row>
  
    <ion-row>
      <ion-col>
        <p text-center>The solition is simple supply and demand. If there were a higher sulpply of social events, then
          the cost, complexity, and exclusivity will reduce.</p>
      </ion-col>
    </ion-row>
<!--   
    <ion-row>
  
      <ion-col justify-content-center text-center>
        <ion-icon color="primary" name="help" class="bulb">
  
        </ion-icon>
      </ion-col>
  
  
    </ion-row> -->
  
  
    <ion-row>
      <ion-col>
        <p text-center>We believe we can achieve this by offering to pay people to host social event, making the process rewarding for both event holders and goers.</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  
<ion-grid>
  <ion-row>
    <ion-col size-sm="6" size="12">
      <ion-card color="medium">
        <ion-card-header>
          <ion-card-title>Event Holders</ion-card-title>
          <ion-card-subtitle>Get paid for hosting events</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <div text-center>
            <ion-icon class="goer-icon" name="logo-usd"></ion-icon>
            <p class="text">Turn your apartment into a weekly hotspot, we'll pay you to host and market your events
              through our mobile application.</p>
            <ion-icon class="goer-icon" name="logo-usd"></ion-icon>
            <p class="text">You can earn bonuses based on how much traffic you bring to the app.</p>
            <ion-icon class="goer-icon" name="logo-usd"></ion-icon>
            <p class="text">Anyone can apply, and if you go thorugh our verificaiton stytem, you can earn even more
              bonuses. </p>
          </div>

        </ion-card-content>

      </ion-card>
    </ion-col>


    <ion-col size-sm="6" size="12">

      <ion-card color="medium">
        <ion-card-header>
          <ion-card-title>Event Goers</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div text-center>
            <ion-icon class="goer-icon" name="map"></ion-icon>
            <p class="text">Finding fun things to do around you in real time, is as easy as clicking a button.</p>
            <ion-icon class="goer-icon" name="chatbubbles"></ion-icon>
            <p class="text">Chat with others that are going to the same events, before, during and after the event.</p>
            <ion-icon class="goer-icon" name="videocam"></ion-icon>
            <p class="text">Watch clips of what's happening at the events around you.</p>
            <ion-icon class="goer-icon" name="people"></ion-icon>
            <p class="text">Invite your friends, and hangout.</p>

          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>