<ion-grid>

  <ion-row class="main-row">
    <ion-col size-sm="6" size="12" >

      <ion-row>

        <ion-col justify-content-center text-center>
          <ion-icon color="primary" name="bulb" class="bulb"></ion-icon>

          <p text-center>The solition is simple supply and demand. If there were a higher sulpply of social events,
              then
              the cost, complexity, and exclusivity will reduce.</p>

            <p text-center>We believe we can achieve this by offering to pay people to host social event, making the
              process
              rewarding for both event holders and goers.</p>
        </ion-col>


      </ion-row>

    </ion-col>



    <ion-col class="map" size-sm="6" size="12"></ion-col>
  </ion-row>


</ion-grid>