<div class="container" snInViewport (inViewportChange)="onInView($event)">

  <div class="item1" text-center>
    <ion-icon [@bulb]="enter$ | async" color="primary" name="bulb" class="bulb"></ion-icon>

    <p text-center  [@inLeft]="enter$ | async" >
      The goal with skiffel is to build a platform that is dedicated to social events.
    </p>

    <p text-center [@inLeft]="enter$ | async">
      We're puting together a bunch of features that will make it easier to sucessfully promote or discover events, all in one user freindly app. See a list of features below, (features in red are still in progress).
    </p>

  </div>

  <div class="item2" [@inRight]="enter$ | async" >
    <img class="map" src="../../../../../assets/imgs/map_phone.png" alt="Skiffel map">
  </div>


</div>