<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button color="light" fill="clear" href="/">
          <ion-icon color="light" name="arrow-back" slot="start"></ion-icon>
          Back
      </ion-button>
    </ion-buttons>
    <ion-title>Beta Testing</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

   

    <h3 class="title welcome">Skiffel is now in beta!!</h3>
    <div class="grid-container">
       

        <ng-container [ngSwitch]="view">
            <ng-container *ngSwitchCase="'ios'">

                <h3 class="title platform-title">Ios</h3>

                <ion-list class="instructions-list" >
                    <ion-item>
                        <p slot="start">1)</p>
                      <ion-label text-wrap>Please read all 6 steps before clicking the Get Skiffel button. </ion-label>
                    </ion-item>
                    <ion-item>
                        <p slot="start">2)</p>
                      <ion-label text-wrap>Click the  get Skiffel button below.</ion-label>
                    </ion-item>
                    <ion-item>
                        <p slot="start">3)</p>
                      <ion-label text-wrap>The link will take you to install an app called TestFlight (if you dont already have it).</ion-label>
                    </ion-item>
                    <ion-item>
                        <p slot="start">4)</p>
                      <ion-label text-wrap>Once Testflight is installed, come back and click the link one more time and your all set. :)</ion-label>
                    </ion-item>
                    <ion-item>
                        <p slot="start">5)</p>
                        <ion-label text-wrap>If you already have test flight installed, then you dont need to come back.</ion-label>
                    </ion-item>

                    <ion-item>
                        <p slot="start">6)</p>
                        <ion-label text-wrap>Enjoy!</ion-label>
                    </ion-item>
                  </ion-list>
        
                  <div class="actions">
                      <ion-button (click)="onGetSkiffel()" fill="outline" shape="round" expand="full">
                          Get Skiffel
                        </ion-button>
                        
                        <ion-button (click)="onSwitchPlatform()" fill="outline" color="dark" shape="round" expand="full">
                            switch to Android
                        </ion-button>
                  </div>
                 

        
            </ng-container>
            <ng-container *ngSwitchCase="'android'">
        
        
                <h3 class="title platform-title">Android</h3>

                <ion-list class="instructions-list" >
                    <ion-item>
                        <p slot="start">1)</p>
                      <ion-label text-wrap>Please read all 5 steps before clicking the Get Skiffel button. </ion-label>
                    </ion-item>
                    <ion-item>
                        <p slot="start">2)</p>
                      <ion-label text-wrap>Click the  get Skiffel button below.</ion-label>
                    </ion-item>
                    <ion-item>
                        <p slot="start">3)</p>
                      <ion-label text-wrap>
                        The link will take you to a web page that welcomes you to our beta testing program, Click the first blue link that says "download it on Google Play".
                      </ion-label>
                    </ion-item>
                    <ion-item>
                        <p slot="start">4)</p>
                      <ion-label text-wrap>
                        You should be on our beta app page in the playstore, the title should say Skiffel (Beta). If you do not see an install button, scroll to the button and look out for a buttion that says either confirm, enroll or somthing along those lines.
                      </ion-label>
                    </ion-item>
                    <ion-item>
                        <p slot="start">5)</p>
                        <ion-label text-wrap>Enjoy!</ion-label>
                    </ion-item>
                  </ion-list>
        
                  <div class="actions">
                      <ion-button (click)="onGetSkiffel()" fill="outline" shape="round" expand="full">
                          Get Skiffel
                        </ion-button>
                        
                        <ion-button (click)="onSwitchPlatform()" fill="outline" color="dark" shape="round" expand="full">
                            switch to Ios
                        </ion-button>
                  </div>
        
        
        
        
        
            </ng-container>
          </ng-container>
    </div>


</ion-content>