<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button href="/">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
        Back
      </ion-button>
    </ion-buttons>
    <ion-title>Feedback</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div class="container">


    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScT3o6V9MDA1W-Wy840ldLUZAMFIpvYGMWM9PrPDJ8dHv4MhQ/viewform?embedded=true"
      width="{{width}}" height="2429" frameborder="0" seamless="true" marginheight="0" marginwidth="0">Loading...</iframe>


  </div>
</ion-content>