<ion-header>
  <ion-toolbar color="primary">
    <ion-menu-button class="menu-btn" color="dark"></ion-menu-button>
    <ion-title slot="start">Skiffel</ion-title>

  </ion-toolbar>
</ion-header>


<ion-content>

  <div class="container">
    <div class="item landing" no-padding no-margin #header>
      <app-header></app-header>
    </div>

    <h3 class="title" #why> Who Can Relate ?</h3>

    <div class="item why" no-padding no-margin>
      <app-why></app-why>
    </div>

    <h3 class="title" #plan>Our Plan</h3>

    <div class="item" no-padding no-margin>
      <app-how></app-how>
      <app-users-cards></app-users-cards>
    </div>

    <h3 class="title" #demo>Demo</h3>

    <div class="item demo" no-padding no-margin>
      <app-demo></app-demo>
    </div>

    <!-- <h3 class="title" #team>Team</h3>

    <div  class="item" no-padding no-margin >
        <app-team></app-team>
    </div> -->

    <div class="item contact" no-padding no-margin #contact>
      <app-contact></app-contact>
    </div>
  </div>


  <div class="social-links">

    <ion-fab-button href="https://www.instagram.com/evolutionarytech" mini translucent="true" color="medium">
      <ion-icon name="logo-instagram"></ion-icon>
    </ion-fab-button>
    <ion-fab-button href="https://www.linkedin.com/company/evolutionary-tech-holdings/" mini translucent="true" color="medium">
      <ion-icon name="logo-linkedin"></ion-icon>
    </ion-fab-button>
    <ion-fab-button href="https://www.etechh.com" mini translucent="true" color="medium">
      <ion-icon name="business"></ion-icon>
    </ion-fab-button>
    
  </div>



</ion-content>