.container {
   
}

.item {
}
.contact {
   
}

.title {
    text-align: center;
    font-size: 35px;
    font-weight: 300;
    margin: 5%;
    color: white;
    text-shadow: 2px 2px 25px #000000
}

.why {
   
}

.demo {
    // height: 100vh;
}


@media(min-width: 576px) {

 
   
}

@media(min-width: 768px) {
    
.title {
    font-size: 50px;
    font-weight: 300;
    margin: 5%;
   
}
.landing {
    height: 95vh;
}
}


@media(min-width: 992px) {
 
}



