.container {
    // display: grid;
    // grid-template-rows: 1fr 1fr 1fr 1fr 1fr auto;
}

.item {
   
}
.contact {
   
}

.demo {
    height: 100vh;
}

.landing {
    margin-bottom: 5%;
    height: 95vh;
}
