<ion-header>
  <ion-toolbar color="primary">
    <ion-title slot="start">Skifel</ion-title>
    
  </ion-toolbar>
</ion-header>


<ion-content>

  <div class="container">
    <div class="item landing" no-padding no-margin #header>
        <app-header></app-header>
    </div>

    <div class="item" no-padding no-margin #why>
      <app-why></app-why>
    </div>

    <div  class="item" no-padding no-margin #how>
      <app-how></app-how>
      <app-users-cards></app-users-cards>
    </div>

    <div  class="item demo" no-padding no-margin #demo>
       <app-demo></app-demo>
    </div>  

    <div  class="item" no-padding no-margin #team>
        <app-team></app-team>
    </div>

    <div  class="item contact" no-padding no-margin #contact>
     <app-contact></app-contact>
    </div>
  </div>





</ion-content>