.goer-icon {
    font-size: 30px;
}

ion-grid {

    margin-bottom: 10%;
}

ion-card {
    background: white;
    height: 100%;
}
.dollar {
    font-size: 60px
}

.text {
    font-size: 20px;
    margin-top: 5%;
    color: black;
}