<ion-grid snInViewport (inViewportChange)="onInView($event)">
  <ion-row>
    <ion-col size-sm="6" size="12">
      <ion-card color="medium" [@inLeft]="enter$ | async">
        <ion-card-header>
          <ion-card-title>Host</ion-card-title>
          <ion-card-subtitle>Become a successful promoter.</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <div text-center>
            <ion-icon class="goer-icon" color="success" name="people"></ion-icon>
            <p class="text">
             Build an audience from a pool of users that are dedicated to attending events. 
            </p>
            <ion-icon class="goer-icon" color="success" name="happy"></ion-icon>
            <p class="text">Always free to use.</p>

            <ion-icon class="goer-icon" color="success" name="chatbubbles"></ion-icon>
            <p class="text">Get instant feedback from people around you that are considering attending your event.</p>

            <ion-icon class="goer-icon" name="cash"></ion-icon>
            <p class="text">Easily collect payments through the app.</p>

            <ion-icon class="goer-icon" name="people"></ion-icon>
            <p class="text"> Form a crew and host events together. </p>

            <ion-icon class="goer-icon" name="stats"></ion-icon>
            <p class="text"> Get useful analytics that will help you improve your game. </p>


          </div>

        </ion-card-content>

      </ion-card>
    </ion-col>


    <ion-col size-sm="6" size="12">

      <ion-card color="medium" [@inRight]="enter$ | async">
        <ion-card-header>
          <ion-card-title>Discover</ion-card-title>
          <ion-card-subtitle>Finding fun things around you is easier than ever.</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <div text-center>
            <ion-icon class="goer-icon" color="success" name="map"></ion-icon>
            <p class="text">Finding fun things to do around you in real time, is as easy as clicking a button.</p>
            <ion-icon class="goer-icon" color="success" name="chatbubbles"></ion-icon>

            <p class="text">Chat with others that are going to the same events, before, during and 24hrs after the event.</p>

            <ion-icon class="goer-icon" color="success" name="people"></ion-icon>
            <p class="text">Invite your friends and hang out.</p>

            <ion-icon class="goer-icon" name="videocam"></ion-icon>
            <p class="text">Watch and capture moments of the events going on around you.</p>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>