<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button href="/support">
            <ion-icon slot="start" name="arrow-back"></ion-icon>
            Back
          </ion-button>
        </ion-buttons>


    <ion-title>Support Group</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="container">
      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScrXD_Hid2Nc6NMhI-VCaf8pURx40BQvoEdWZIEjtUaWJmddg/viewform?embedded=true" width="{{width}}" height="1229" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
  </div>
</ion-content>