ion-card {
    background: white;
    height: 100%;
}



ion-grid {
    height: 100%;
}

ion-card-content {
    padding-bottom: 3%;
    color: black;
    height: 100%;
}

ion-col {
    height: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
}

ion-row {
    height: 100%;
}

.bulb {
    font-size: 150px;
    color: white;
    text-align: center;
}



