ion-card {
    background: white;
    // margin-top: 10%;
    margin-bottom: 10%;
}

.title {
    text-align: center;
    margin-top: 10%;
}
ion-grid {
    // padding: 0;
}

ion-card-content {
    padding-bottom: 3%;
    color: black;
}

.bulb {
    font-size: 150px;
    color: white;
    text-align: center;
}

.main-card {
    // padding: 0;
    // height: 60vh
}

