.container {
    display: grid;
    grid-template-rows: 25% 50% 25%;
    height: 95vh;
}

.item1, .item3 {
    display: grid;
    grid-template-rows: 5% auto 5%;
    grid-template-columns: 10% auto 10;

    img {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3
    }
}

ion-card {
    margin: 0;
    background: var(--ion-color-medium);
    height: 100%;   
}

// .main-card-content {
//     height: 100%;
//     width: 100%;

//     display: grid;
//     grid-template-columns: 20% auto 20%;
//     grid-template-rows: 10% 20% auto 10% 20%;

//     align-items: center;
// }

.main-card-content {
    display: grid;
    height: 100%;
    grid-template-columns: 0.5fr 2.4fr 0.5fr;
    grid-template-rows: 0.5fr 1fr 2.2fr 1fr 0.5fr;
    grid-gap: 1px 1px;
    grid-template-areas: ". . ." ". . ." ". . ." ". . ." ". . .";
    align-items: center;
}


.card-cnt {
    align-self: center;
    text-align: center;
   
    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 3;
    grid-row-end: 4
}

.action {

    align-self: center;

    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 4;
    grid-row-end: 5
}

.title {

    text-align: center;
   
    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 2;
    grid-row-end: 3
}

#title-text {
    font-size: 30px;
    font-weight: bold;
}

.brandon, .stacy {
    align-self: center;
} 



@media(min-width: 200px) {

 .action {
     align-self: end;
     grid-row-start: 5;
     grid-row-end: 6;
 }
   
}


@media(min-width: 300px) {

    .card-cnt {
        grid-column-start: 1;
        grid-column-end: 4;
        align-self: center;
     }

     .action {
        grid-row-start: 4;
        grid-row-end: 5
     }

   .brandon, .stacy {
       width: 100%;
        max-height: 300px;
   }
   
}


@media(min-width: 576px) {
    
    .brandon, .stacy {
        width: 100%;
        max-height: 400px;
    } 

    .card-cnt {
        grid-column-start: 2;
        grid-column-end: 3;
     }
}

@media(min-width: 768px) {
    .brandon, .stacy {
        width: 100%;
        max-height: 500px;
    } 

    .main-card-content {
        display: grid;
        height: 100%;
        grid-template-columns: 0.8fr 2.1fr 1fr;
        grid-template-rows: 1.5fr 0.6fr 1.6fr 0.5fr 1.5fr;
        grid-gap: 1px 1px;
        grid-template-areas: ". . ." ". . ." ". . ." ". . ." ". . .";
    }

    .title, .action, .card-cnt {
        grid-column-start: 2;
        grid-column-end: 3
    }   
 

    .title {
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .action {
        grid-row-start: 4;
        grid-row-end: 5;
    }

    .card-cnt {
        grid-row-start: 3;
        grid-row-end: 4;
     }

}

// defines the point at witch the layout changes
@media(max-width: 768px) {
    
    .container {
        display: grid;
        grid-template-rows: 50% 50%;
        grid-template-columns: 50% 50%;
    }

    .item1 {
        grid-column-start: 1;
        grid-column-end: 2
    }

    .item3 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .item2{
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 3;
    }
}


@media(min-width: 992px) {
   
    .container {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 2fr 1fr;
    }

    .main-card-content {
        display: grid;
        height: 100%;
        grid-template-columns: 0.6fr 1.8fr 0.6fr;
        grid-template-rows: 1fr 75px auto 75px 1fr;
        grid-gap: 10px 1px;
        grid-template-areas: ". . ." ". . ." ". . ." ". . ." ". . .";
    }

    .brandon, .stacy {
        width: 100%;
        max-height: 600px;
    } 

    .title {
        align-self: end;
    }

    .action {
       align-self: start;
    }

    .card-cnt {
        align-self: center;
     }


}


@media(min-width: 1000px) {
    // .main-card-content {
    //     display: grid;
    //     height: 100%;
    //     grid-template-columns: 0.8fr 2.1fr 1fr;
    //     grid-template-rows: 1.4fr 0.9fr 1.4fr;
    //     grid-gap: 1px 1px;
    //     grid-template-areas: ". . ." ". . ." ". . .";
    // }

}







