


<ion-grid class="header-grid">
  <ion-row class="header-row" justify-content-center>
    <ion-col class="stacy" size-md="4" size-sm="4" size="12" >
    </ion-col>
    <ion-col align-self-center size-md="4" size-sm="4" size="12">
      

      <ion-card>

        <ion-card-header>
          <ion-card-title text-center>Skifel</ion-card-title>

          <ion-card-content text-center>
              A mobile platform that will enchance social lives, by making it Cheaper, Easier, and faster to share fun experiences with others in the real world
          </ion-card-content>
        </ion-card-header>

      </ion-card>

      
    </ion-col>
    <ion-col class="brandon" size-md="4" size-sm="4" size="12">
    </ion-col>
  </ion-row>
</ion-grid>