


<ion-grid class="header-grid">
  <ion-row class="header-row" justify-content-center>
    <ion-col align-self-center size="12" size-sm="12" size-md="12" size-lg="4">
      <img class="phones " src="../../../../../assets/imgs/stacy_pro.png" alt="">
    </ion-col>
    <ion-col align-self-center size="12" size-sm="12" size-md="12" size-lg="4">
      

      <ion-card>

        <ion-card-header>
          <ion-card-title text-center>Skifel</ion-card-title>

          <ion-card-content text-center>
              A mobile platform that will enchance social lives, by making it Cheaper, Easier, and faster to share fun experiences with others in the real world
          </ion-card-content>
        </ion-card-header>

      </ion-card>

      
    </ion-col>
    <ion-col align-self-center align-self-center  size="12" size-sm="12" size-md="12" size-lg="4" >
        <img class="phones" src="../../../../../assets/imgs/barandon_pro.png" alt="">
    </ion-col>
  </ion-row>
</ion-grid>