


<div class="container">


  <div class="item item1 " [@inLeft] >
      <img class="phone_demo"  src="../../../../../assets/imgs/stacy_pro.png" alt="">
  </div>


  <div class="item item2" [@zoomIn]>
    <ion-card>
        <ion-card-content class="main-card-content">

            <div class="title">
              <h3 id="title-text">Skifel</h3>
            </div>

            <div class="card-cnt">
              A mobile platform that will enhance social lives by  making it cheaper, easier and faster to share fun experiences with others in the real world.
            </div>

            <div class="action">
                    <ion-button fill="outline" shape="round" expand="full">Begin</ion-button>
            </div>
        </ion-card-content>
    </ion-card>
  </div>


  <div class="item item3 " [@inRight]>
      <img class="phone_demo" src="../../../../../assets/imgs/barandon_pro.png" alt="">
  </div>

</div>