

.header-grid {
    height: 100vh;
}
// .still {
//     height: 100%;
//     width: 100%;
// }

.stacy {
    background-image: url(../../../../../assets/imgs/stacy_pro_phone.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
}

.brandon {
    background-image: url(../../../../../assets/imgs/brandon_pro_phone.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
}

.header-row {
    height: 100%;
}

ion-card {
    margin: 0;
    background: var(--ion-color-medium)
}

