<div class="grid-container" snInViewport (inViewportChange)="onInView($event)">
  <div class="item1" [@inLeft]="enter$ | async">
    <img class="phone_demo" src="../../../../../assets/imgs/feed_phone.png" alt="Skiffel demo1">
  </div>


  <div class="item2" [@zoomin]="enter$ | async">


    <div class="intro">
      <h3>Can't wait to get started ? </h3>
      <h6>Skiffel is launching on March 1st.</h6>
    </div>




    <div class="actions">
        <img (click)="onIos()" src="../../../../../assets/icon/appstorebadge.svg" alt="">
        <img (click)="onAndroid()" style="height: 100%; width: 100%" src="../../../../../assets/icon/playstorebadge.png" alt="">
    </div>


  </div>


  <div class="item3" [@inRight]="enter$ | async">
    <img class="phone_demo" src="../../../../../assets/imgs/chat_phone.png" alt="Skiffel demo2">
  </div>

</div>