<ion-grid>
  <ion-row>
    <ion-col>
      <h3 text-center>See a demo now</h3>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col></ion-col>
    <ion-col>
      <ion-button (click)="onDemo()" color="light" fill="outline" shape="round" expand="full">
        Demo
      </ion-button>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>

  <ion-row>
    <ion-col text-center>
      <h3>What do you think of our idea?</h3>
      <h6>Your feedback is important to us</h6>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col></ion-col>
    <ion-col>
      <ion-button  (click)="onFeedback()" color="light" fill="outline" shape="round" expand="full">
        Feedback
      </ion-button>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
</ion-grid>