ion-grid {
    margin: 10%;
    height: 100vh;
}

.feed {
    background-image: url(../../../../../assets/imgs/feed_phone.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center; 
}



.chat {
    background-image: url(../../../../../assets/imgs/chat_phone.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;  
}

.main-row {
    height: 100%;
}