<div class="grid-container" snInViewport (inViewportChange)="onInView($event)">
  <div class="item1" [@inLeft]="enter$ | async">
    <img class="phone_demo" src="../../../../../assets/imgs/feed_phone.png" alt="Skiffel demo1">
  </div>


  <div class="item2" [@zoomin]="enter$ | async">


    <h3>What do you think of our idea?</h3>
    <h6>Your feedback is important to us</h6>

    <ion-button (click)="onFeedback()" color="light" fill="outline" shape="round" expand="full">
      Feedback
    </ion-button>


    <h3>See a demo now</h3>

    <ion-button (click)="onDemo()" color="light" fill="outline" shape="round" expand="full">
      Demo
    </ion-button>

  </div>


  <div class="item3" [@inRight]="enter$ | async">
    <img class="phone_demo" src="../../../../../assets/imgs/chat_phone.png" alt="Skiffel demo2">
  </div>

</div>