<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button href="/">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
        Back
      </ion-button>
    </ion-buttons>

    <ion-title>Get Ahead</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
  <div class="container">
    <h3 class="title">Why You're Here</h3>
    <p>
      Our goal with Skiffel is to provide people like you with a platform that will make the process of promoting your
      events much more efficent, profitable, and enjoyable.
    </p>

    <h3 class="title">What We Want</h3>
    <p>
      In order for us to accomplish our goal we need you. As the launch date for Skiffel approaches we are looking to
      build a small network of people that will be the first group of promoters on the platform.
    </p>

    <h3 class="title">What You Get</h3>

    <p>
      Should you agree to be a part of this, you will get to be one of the leaders of the wave that skiffel will generate. We'll also reserve a space on our supporters page for the name and picture of either you or the organization you represent.
    </p>

    <p>
      You will also earn exusive early access to any new features and promotions that we add to the platform as it
      grows.
    </p>



    <h3 class="title">Are You Ready?</h3>
    <div class="action-container">
      <ion-button fill="outline" expand="full" shape="round">Im In!</ion-button>
    </div>

  </div>



</ion-content>