<h2 class="title">Nova</h2>
<ion-card no-border>

  <ion-card-content text-center>
    <ion-grid>
      <!-- <ion-row>
        <ion-col>
         
        </ion-col>
      </ion-row> -->
      <ion-row>
        <ion-col></ion-col>
        <ion-col size-sm="4" size="12">
          <p class="mission">A mobile platform that will enchance social lives, by making it Cheaper, Easier,
            and
            faster to
            share fun experiences with others in the real world</p>


        </ion-col>
        <ion-col></ion-col>
      </ion-row>

      <ion-row>
        <ion-col></ion-col>
        <ion-col size-sm="4" size="12">
          <ion-button (click)="onBegin()" fill="outline" expand="full" shape="round">Begin</ion-button>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>

    </ion-grid>


  </ion-card-content>
</ion-card>