ion-card{
    // height: 60vh;
    background: white;
    // margin: 5%;
}

ion-card-content {
    height: 100%;
    width: 100%;
}
.card-grid {
    height: 100%;
    width: 100%;
}

.main-card-row {
    height: 90%;
    width: 100%;
}

.title {
    font-size: 60px;
    text-align: center;
}

.mission {
    font-size: 20px;
    text-align: center;
    color: black;
}